.second-heading{
  text-align: right;
  margin-left: auto;
  font-size: 75px !important;
  overflow: hidden;

}

.banner-content2{
  text-align: right;
  margin-left: auto;
  margin-bottom: auto;
  margin-right: 5%;
}


.second-heading{
  color: #B584E6;
  font-family: 'Catamaran', sans-serif;
}

.about-me2{
  color: #ACACAC;
  width: 50%;
  margin-left: auto;
  font-size: 18px;
}
