.second-heading{
  text-align: right;
  margin-left: auto;
  font-size: 75px !important;
  overflow: hidden;

}

.banner2 {
  color: white;
  text-align: center;
  height: 110vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: auto !important;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  // width-left: 50%;
}

@media only screen and (max-width: 600px) {
    .banner2 {
    height: 180vh;
    }
}

.banner-content2{
  text-align: right;
  margin-left: auto;
  margin-bottom: auto;
  margin-right: 5%;
}


.second-heading{
  color: #0582CA;
  font-family: 'Catamaran', sans-serif;
  text-shadow: 1px 1px rgba(0,0,0, 0.3);
}

.about-me2{
  color: #006494;
  width: 50%;
  margin-left: auto;
  font-size: 18px;
}

.about-me3{
  color: #00A6FB;
  width: 30%;
  margin-left: auto;
  font-size: 24px;
  text-align: justify;
}

@media only screen and (max-width: 600px) {
    .about-me3 {
        display: none;
    }
}

.quotation{
  color: lightgrey;
}
