/* first section starts here */
a{
  text-decoration: none;
  color: white;
}

.top {
  height: 1px;
  width: 50%;
  align-items: center;
  color: white;
  background-color: white;
  border: none;
  opacity: 0.6;
}

.top2 {
  height: 1px;
  width: 50%;
  align-items: center;
  color: grey;
  background-color: grey;
  border: none;
  opacity: 0.6;
}




#particles-js {
background-image: linear-gradient(360deg, rgba(0,0,0,0.1), rgba(0,0,0,0.3)), url('http://getwallpapers.com/wallpaper/full/b/4/4/23942.jpg');
 height: 100vh;
 background-repeat: no-repeat !important;
 display: flex;
}

.banner-content1{
  position: absolute;
  height: 100%;
  width: 100%;
}

.actual-content-outer-div{
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.actual-content-outer-div h1{
  font-size: 50px;
  font-weight: bold;
  color: white;
  text-align: center;
}







.light-font {
  font-size: 40px;
  font-weight: lighter;
  color: #bfbfbf;
  margin-bottom: 30px;
  position: relative;
}


.banner {
  color: white;
  height: 100vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: auto !important;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  // width-left: 50%;
}

@media only screen and (max-width: 600px) {
    .banner {
    height: 130vh;
    }
}

.light-font {
  font-size: 40px;
  font-weight: lighter;
  color: #bfbfbf;
  margin-bottom: 30px;
}

.wrapper{
  width: 50%;
  float: center;
  align-items: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.about-me{
  position: absolute;
  top: 40%;
  left: 38%;
  text-align: center;
  float: center;
  display: inline-block;
  font-size: 20px;
  margin: 2em 0px 2em 0px;
}


.btn-medium {
  color: #999999;
  border: 1px solid white;
  padding: 10px 15px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  width: 170px;
  height: 130px;
}
.btn-medium:hover {
  opacity: 1;
  text-decoration: none;
  color: white;
  width: 70px;
  height: 30px;
}

.btn-medium-purple {
  color: white;
  background-color: #AD87E0;
  padding: 10px 15px;
  border-radius: 50px;
  font-family: 'Indie Flower', cursive;
  font-weight: lighter;
  font-size: 16px;
  margin: 5px;
}
.btn-medium-purple:hover {
  text-decoration: none;
  color: #BDBDBD;
}

.moblie-responsive:hover{
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

// @media only screen and (max-width: 600px) {
//     .moblie-responsive {
//         display: flex;
//         flex-direction: row;
//     }
// }


/*first section ends here*/

.content{
  width: 1000px;
  height: 1000px;
  background-color: white;
}

.material-icons{
  position: absolute;
  bottom: 0;
  text-align: center;
}

.discover{
  position: absolute;
  bottom: 0;
  text-align: center;
}
.hi{
  position: relative;
  text-align: center;
  text-decoration: none;
  color: white;
}
/*font-family: 'Open Sans', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Indie Flower', cursive;
*/
