.whole{
  height: 100%;
  width: 35%;
}
.top-right{

}
.half{
  text-align: justify-center;
  position: relative;
  font-size: 18px;
  font-family: 'Lato', sans-serif;
  top: 20%;
}

.para{
  height: 50%;
  position: relative;
}
