<html>
  <head>
   <title>Connor Ingold | Front End Developer | Porfolio</title>
    <meta charset="UTF-8">
    <meta name="keywords" content="portfolio, junior developer, front end, connoringold, London, HTML, CSS, Bootstrap, SCSS, Git">
    <meta name="description" content="Portfolio of Web Developer seeking employement - Connor Ingold">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Lato:300|Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
 </head>
  <body>
  <!-- banner start here   -->
  <div class="outer-div-navbar">
    <div class="inner-navbar">
      <ul>
        <li class="btn-medium-purple" href="#">Introduction</li>
        <li href="#">About Me</li>
        <li href="#">Blog</li>
        <li href="#">My Interests</li>
        <li href="#">Contact Me</li>
      </ul>
       <hr class="top">
    </div>
  </div>


  <div class="banner" style="background-image: linear-gradient(360deg, rgba(0,0,0,0.3), rgba(0,0,0,0.6)), url('<%= cl_image_tag("Desktop_HD.png") %>');">
  <?php header( 'Location: /index.html' ) ;  ?>
    <div class="banner-content">
      <h1>Connor Ingold<br>
      Front End Web Dev</h1>
      <p class="light-font"> One half logical the other half creative</p>
      <a href="#" class="btn-medium-black">About My Logical Side</a>
      <a href="#" class="btn-medium-purple">About My Creative Side</a>
<!--       <div class="discover">
        <a href="#top"><i class="material-icons">expand_more</i> <p class="hi">click to discover more</p></a>
        <a name="top"></a>
      </div> -->
   </div>


  </div>

  <!-- banner ends here -->
    <footer>
    </footer>
  </body>
</html>


