<html>
  <body>
  <!-- banner start here   -->
  <div class="outer-div-navbar">
    <div class="inner-navbar">
      <ul>
        <li><a href="">Introduction</a></li>
        <li><a href="">About Me</a></li>
        <li><a href="">Blog</a></li>
        <li><a href="">My Interests</a></li>
        <li><a href="">Contact Me</a></li>
      </ul>
       <hr class="top">
    </div>
  </div>


  <div class="banner" style="background-image: linear-gradient(360deg, rgba(0,0,0,0.1), rgba(0,0,0,0.3)), url('https://res.cloudinary.com/desmpz4mv/image/upload/v1522180720/572066.jpg');">
    <div class="banner-content">
      <h1>Connor Ingold<br>
      Full Stack Web Dev</h1>
      <p>
        <span id="banner-typed-text"></span>
      </p>
      <div class="moblie-responsive">
        <a href="#" class="btn-medium-black">About My Logical Side</span>
        <a href="#" class="btn-medium-purple">About My Creative Side</a>

      </div>

    </div>
  </div>
  <!-- banner ends here -->
    <footer>
    </footer>
  </body>
</html>


