<div class="banner" style="background-image: url('https://res.cloudinary.com/desmpz4mv/image/upload/v1522345053/Untitled_4.png');">
  <div class="whole">
    <div class="heading1">
        <h1 class="top-right">Under Development</h1>
    </div>

    <div class="para">
        <p class="half">Thank for visiting my site, however, this is a <b>very new project</b> and is currently under development. Don't worry though I'm currently devoting all of my time to get the full site up and running as fast as possible. </p> <p class="half">If you are a potential employer please do not consider what is currently on the site full extent of my capabilities this isn't even the tip of iceberg :P</p> <p class="half"> <strong>contact me : connoringold@gmail.com</strong></p>
    </div>
  </div>
</div>
