<!-- <div class="banner" style="background-image: url('https://res.cloudinary.com/desmpz4mv/image/upload/v1528720077/254519-P4LH94-180.jpg');">
  <div class="whole">
    <div class="heading1">
        <h1 class="top-right">Under Development</h1>
    </div>
  </div>
</div> -->

<div class="container-fluid">
   <div class="row">
	<img src="https://res.cloudinary.com/desmpz4mv/image/upload/v1528720077/254519-P4LH94-180.jpg" class="img-responsive">
   </div>
</div>
