

$white: #fff !default;
$secondary: #303E4E !default;


.footer {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: none;
  color: $white;
}

@media only screen and (max-width : 600px) {
  .footer{
  margin-top: 145px;
  }
}

@media only screen and (max-width : 500px) {
  .footer{
  margin-top: 100px;
  }
}


.copyright {
  background-color: darken($secondary, 10%);
}

.btn{
  font-size: 35px;
  color: #back;
}

.contact{
  color: lightgrey;
}
